/* Universal styles */

html {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
}

.body {
  line-height: 1.4px;
}

h1,
h3 {
  font-family: Helvetica;
  font-weight: bold;
}

ul {
  list-style: none;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

/* Header */

.main_banner {
  display: flex;
  flex-direction: column;
  height: 31rem;
  width: 100%;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 960px;
  height: 3rem;
  align-items: center;
  margin: 1rem auto;
  background-color: cadetblue;
  color: white;
}

@media only screen and (max-width: 1024px) {
  .container {
    margin: 0 0;
  }
  .main_banner {
    height: 22rem;
  }
  .header {
    margin: 0 0;
    width: 100%;
  }
}

.logo img {
  height: 1.5rem;
  margin-left: 2rem;
  vertical-align: middle;
}

.logo span {
  margin: 1rem 1rem;
}

.desktop_nav li {
  display: inline-flex;
  margin: 1rem 1rem;
  color: white;
}

.mobile_nav {
  display: none;
}

.main_banner .headline {
  display: flex;
  justify-content: flex-end;
}

.headline h1 {
  font-size: 2rem;
  padding: 2.5rem 5rem;
  background-color: white;
  line-height: 1.2rem;
  margin-top: 9rem;
  margin-right: -2rem;
}

@media only screen and (max-width: 1024px) {
  .headline h1 {
    font-size: 1.5rem;
    padding: 1.5rem 4rem;
    margin-top: 5rem;
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 692px) {
  .main_banner {
    height: 17rem;
  }
  .logo span {
    display: none;
  }
  .desktop_nav li {
    display: none;
  }
  .mobile_nav {
    display: inline-flex;
    margin: 1rem 2rem;
  }
  .headline h1 {
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
    margin-top: 9rem;
    margin-right: 0;
    width: 100%;
  }
}

/* Services */

.services {
  display: flex;
  justify-content: center;
  height: 14rem;
  width: 27rem;
  margin: 0 auto;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 8rem;
  width: 5rem;
  margin: 3rem;
}

.item span {
  text-align: center;
}

.item_exam {
  width: 3.5rem;
  height: 5rem;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/paper-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.item_fitting {
  width: 5rem;
  height: 5rem;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/ruler-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.item_delivery {
  width: 5rem;
  height: 5rem;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/truck-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media only screen and (max-width: 692px) {
  .services {
    flex-direction: column;
    align-items: center;
    margin: 3.77rem auto;
    height: auto;
  }
  .item {
    margin: 0;
    height: auto;
  }
  .item span {
    font-size: 0.77rem;
    margin-bottom: 1.54rem;
    text-align: center;
  }
}


/* Philosophy */

.about {
  display: flex;
  justify-content: space-between;
  width: 720px;
  margin: 0 auto;
}

.section {
  display: flex;
  flex-direction: column;
  width: 47.5%;
  margin-bottom: 5rem;
}

.section_title {
  width: 60%;
  height: 2rem;
  color: white;
  background-color: cadetblue;
}

.section_title h3 {
  font-size: 1rem;
  margin: 0.5rem 1.25rem;
}

@media only screen and (max-width: 692px) {
  .about {
    flex-direction: column;
    align-items: center;
    width: auto;
  }
  .section {
    width: 100%;
  }
  .section_title {
    width: 100%;
    text-align: center;
  }
  .section_copy p {
    font-size: 0.90rem;
    margin: 1rem 0 4rem 0;
  }
}

/* Footer */

.footer {
  display: flex;
  align-items: center;
  height: 9rem;
  width: 960px;
  margin: 0 auto;
  background-color: azure;
}

.footer_logo {
  height: 1.5rem;
  width: 5rem;
  margin: 4rem 1rem 4rem 4rem;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/logo-black.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media only screen and (max-width: 692px) {
  .copyright p {
    display: none
  }
  .footer {
    width: auto;
  }
  .footer_logo {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

}
